# Módulo 10 tarefa 2

Considere a mesma base de dados utilizada na tarefa 1 ```previsao_de_renda.csv```.

1) Com o que você viu em aula, faça uma análise das variáveis qualitativas (posse de imóvel e posse de veículo) para verificar se são boas preditoras de *renda*. Alguma delas parece discriminar *renda* de forma estatisticamente significante?

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('previsao_de_renda.csv')
correlacao = df[['posse_de_imovel','posse_de_veiculo','renda']]

correlacao

       posse_de_imovel  posse_de_veiculo    renda
0                 True             False  3369.24
1                 True              True  6096.14
2                 True              True  5658.98
3                False              True  7246.69
4                False             False  4017.37
...                ...               ...      ...
14995             True              True  1193.29
14996             True              True  2519.18
14997             True              True  1586.85
14998             True             False  6975.39
14999             True              True   993.86

[15000 rows x 3 columns]

In [6]:
correlacao.corr()

                  posse_de_imovel  posse_de_veiculo     renda
posse_de_imovel          1.000000         -0.014727  0.029827
posse_de_veiculo        -0.014727          1.000000  0.063414
renda                    0.029827          0.063414  1.000000

RESPOSTA: Como demonstrado as variáveis posse_de_imovel e posse_de_veiculo não tem um correlação direta com renda.