<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo 01** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [20]:
print("Olá mundo!")

Olá mundo!

Crie uma célula de texto e adicione uma imagem.

<img src="windows.jpg" style="width:280px;height:224px">

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [15]:
tktMedio = 320.52
qTotalVendas = 3

vTotalVendas_19 = tktMedio/qTotalVendas
print(round(vTotalVendas_19,2))

106.84

In [16]:
vTotalVendas = 834.47
tktMedio = 119.21

qTotalVendas_20 = vTotalVendas/tktMedio
print(round(qTotalVendas_20))

7

In [17]:
vTotalVendas = 15378.12
qTotalVendas = 5

tktMedio_23 = vTotalVendas/qTotalVendas
print(round(tktMedio_23,2))

3075.62

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [3]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [18]:
x = cancao.split()
print(x)
x = cancao.upper()
print(x)
x = cancao.partition("roda")
print(x)

['Roda', 'mundo,', 'roda', 'gigante,', 'roda', 'moinho,', 'roda', 'pião.']
RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
('Roda mundo, ', 'roda', ' gigante, roda moinho, roda pião.')

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [10]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

In [19]:
valor = noticia.split(" ")
selic = valor[3]
ano = valor[12]
print(selic, ano)

2,75% 6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [12]:
a = False
b = True

x = not a & b

In [13]:
print(x)

True

In [14]:
print(not(True & False))

True